﻿@{
    ViewBag.Title = "AddPatient";
    Layout = "~/Views/Shared/AdminShared.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Add Patient
                </h1>
            </div>
        </div>
        <div id="page-wrapper" style="margin-left:0%">
            <div class="container">
                <section class="content">
                    <!-- left column -->
                    <!-- general form elements -->
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" style=" width:250px; " method="post" action="/Admin/Add_Prod" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="exampleInputName">Name<span class="required">*</span></label>
                            <input type="text" class="form-control" name="name" />

                            <label for="exampleInputAuthor">Email<span class="required">*</span></label>
                            <input type="text" class="form-control" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAuthor">Password<span class="required">*</span></label>
                            <input type="password" class="form-control" name="pswd" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAuthor">Phone<span class="required">*</span></label>
                            <input type="text" class="form-control" name="phone" />
                        </div>


                        <div class="form-group">
                            <label for="exampleInputAuthor">Address<span class="required">*</span></label>
                            <input type="text" class="form-control" name="address" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputAuthor">CNIC<span class="required">*</span></label>
                            <input type="number" class="form-control" name="cnic" />
                        </div>

                        <br /> <button class="btn btn-primary" type="submit">Save</button>


                        <!-- /.box-body -->
                    </form>




                </section>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</div>
