﻿@{
    ViewBag.Title = "ViewPat";
    Layout = "~/Views/Shared/AdminShared.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    List of all Patients
                </h3>
                <span class="input-group custom-search-form" style="width:30%;">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </span>
            </div>
        </div>
        </br>
        <div id="page-wrapper" style="margin-left:0%">
            <div class="container">
                <section class="content">
                    <div>
                        <table class="table table-hover" style="width:90%;">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>CNIC</th>
                                    <th>Update/Remove
                                    <th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">3</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">4</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">5</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">8</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>Muhammad Ali</td>
                                    <td>MuhammadAli@gmail.com</td>
                                    <td>12345</td>
                                    <td>234-5d5450</td>
                                    <td>99 ravi lhr</td>
                                    <td>34101-233456-7</td>
                                    <td>
                                        <form action="#">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>


                </section>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</div>
