﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Community Health Service : Home</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="~/images/favicon.ico" />

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap css file-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Default Theme css file -->
    <link id="switcher" href="~/Content/css/themes/blue-theme.css" rel="stylesheet">z
    <!-- Slick slider css file -->
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <!-- Photo Swipe Image Gallery -->
    <link rel='stylesheet prefetch' href='~/Content/css/photoswipe.css'>
    <link rel='stylesheet prefetch' href='~/Content/css/default-skin.css'>

    <!-- Main structure css file -->
    <link href="~/Content/style.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Habibi' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:900' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- BEGAIN PRELOADER -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-heartbeat"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
        <!-- BEGIN MENU -->
        <div class="menu_area">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- LOGO -->
                        <!-- TEXT BASED LOGO -->
                        <a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i> Community<span>    Health Service</span></a>
                        <!-- IMG BASED LOGO  -->
                        <!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="/Home/Features">Facilities</a></li>
                            <li><a href="/Home/Doctors">Doctors</a></li>
                           
                            <li><a href="/Home/profile">Profile</a></li>
                            <li><a href="/Home/Contact">Feedback</a></li>
                            <li><a data-toggle="modal" data-target="#logModal" href="#"><i class="fa fa-sign-in"></i> SignIn</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>


        <!---dialogue for login-->
        <div class="modal fade" id="logModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Please SignIn</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="checkbox">
                                            <label class="">
                                                <input type="checkbox" class="">Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group last">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary btn-sm">Sign In</button>
                                       
                                    </div>
                                </div>
                            </form>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <h3>Not Registered?</h3><span><button type="button" class="btn btn-primary">Sign Up</button></span>
         

                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- /.modal -->
        <!-- END MENU -->
    </header>
    <!--=========== END HEADER SECTION ================-->   
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <!--=========== Start Footer SECTION ================-->
    <footer id="footer">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <div class="section-heading">
                                <h2>About Us</h2>
                                <div class="line"></div>
                            </div>
                            <p> Community Health System </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <div class="section-heading">
                                <h2>Facilities</h2>
                                <div class="line"></div>
                            </div>
                            <ul class="footer-service">
                                <li><a href="#"><span class="fa fa-check"></span>Facility 1</a></li>
                                <li><a href="#"><span class="fa fa-check"></span>Facility 2</a></li>
                                <li><a href="#"><span class="fa fa-check"></span>Facility 3</a></li>
                                <li><a href="#"><span class="fa fa-check"></span>Facility 4</a></li>
                                <li><a href="#"><span class="fa fa-check"></span>Facility 5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <div class="section-heading">
                                <h2>Shortcut Panel</h2>
                                <div class="line"></div>
                            </div>
                            <ul class="tag-nav">
                                <li><a href="#">Dental</a></li>
                                <li><a href="#">Surgery</a></li>
                                <li><a href="#">Pediatric</a></li>
                                <li><a href="#">Cardiac</a></li>
                                <li><a href="#">Ophthalmology</a></li>
                                <li><a href="#">Diabetes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <div class="section-heading">
                                <h2>Contact Info</h2>
                                <div class="line"></div>
                            </div>
                            <p></p>
                            <address class="contact-info">
                                <p>
                                    <span class="fa fa-home"></span>abc
                                </p>
                                <p><span class="fa fa-phone"></span>042-3754632</p>
                                <p><span class="fa fa-envelope"></span>info@chs.com</p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-copyright">
                            <p><a href="index.html">Community Health Service</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-social">
                            <a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                            <a href="#"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </footer>
        <!--=========== End Footer SECTION ================-->

        <!-- jQuery Library  -->
        <script src="~/Scripts/js/jquery.js"></script>
        <!-- Bootstrap default js -->
        <script src="~/Scripts/js/bootstrap.min.js"></script>
        <!-- slick slider -->
        <script src="~/Scripts/js/slick.min.js"></script>
        <script type="text/javascript" src="~/Scripts/js/modernizr.custom.79639.js"></script>
        <!-- counter -->
        <script src="~/Scripts/js/waypoints.min.js"></script>
        <script src="~/Scripts/js/jquery.counterup.min.js"></script>
        <!-- Doctors hover effect -->
        <script src="~/Scripts/js/snap.svg-min.js"></script>
        <script src="~/Scripts/js/hovers.js"></script>
        <!-- Photo Swipe Gallery Slider -->
        <script src='~/Scripts/js/photoswipe.min.js'></script>
        <script src='~/Scripts/js/photoswipe-ui-default.min.js'></script>
        <script src="~/Scripts/js/photoswipe-gallery.js"></script>

        <!-- Custom JS -->
        <script src="~/Scripts/js/custom.js"></script>
</body>
</html>
