﻿@{
    ViewBag.Title = "DeptDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="blogArchive">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                <div class="section-heading">
                                                    <h2> Departments</h2>
                                                    <div class="line"></div>
                                                </div>
                                                <!-- Start Departments Accordion -->
                                                <div class="panel-group custom-panel" id="accordion">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Cardiac Clinic</a></li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Dental Implants</a></li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Eye Clinic</a></li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Orthopadeic Clinic</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Gynae Clinic</a></li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="single-blog-right">


                                                <div class="section-heading">
                                                    <h2> Doctors of Cardiac Department</h2>
                                                    <div class="line"></div>
                                                </div>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>Name</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td><a href="#">Mrs. Khalid</a></td>
                                                            

                                                           <td> <button type="button" class="btn btn-primary">Take Appointment</button> <button type="button" class="btn">View Profile</button>  </td>

                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td><a href="#">Mansoor Ali</a></td>
                                                        <td><button type="button" class="btn btn-primary">Take Appointment</button> <button type="button" class="btn">View Profile</button>  </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td><a href="#">Rayyan Syed</a></td>
                                                           <td> <button type="button" class="btn btn-primary">Take Appointment</button> <button type="button" class="btn">View Profile</button>  </td>
                                                        </tr>
                                                    </tbody>
                                                </table>





                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


