﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Community Health Service : Home</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="~/images/favicon.ico" />

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap css file-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Default Theme css file -->
    <link id="switcher" href="~/Content/css/themes/blue-theme.css" rel="stylesheet">z
    <!-- Slick slider css file -->
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <!-- Photo Swipe Image Gallery -->
    <link rel='stylesheet prefetch' href='~/Content/css/photoswipe.css'>
    <link rel='stylesheet prefetch' href='~/Content/css/default-skin.css'>

    <!-- Main structure css file -->
    <link href="~/Content/style.css" rel="stylesheet">

    <link href="~/Content/css/datepicker.css" rel="stylesheet">

    <link href="~/Content/css/datepickerr.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Habibi' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:900' rel='stylesheet' type='text/css'>
   
</head>

<body>

    <!-- BEGAIN PRELOADER -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-heartbeat"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
        <!-- BEGIN MENU -->
        <div class="menu_area">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- LOGO -->
                        <!-- TEXT BASED LOGO -->
                        <a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i> Community<span>    Health Service</span></a>
                        <!-- IMG BASED LOGO  -->
                        <!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                            <li><a href="~/Doctor/Index">Home</a></li>
                            <li><a href="~/Doctor/ManageAccount">Profile</a></li>



                            <li><a href="~/Doctor/UpdateSchedule">Schedule</a></li>
                            <li><a href="~/Doctor/ViewAllPatients">Patients</a></li>
                            

                            <li><a data-toggle="modal" data-target="#appointmentModal" href="#">Due Appointments</a></li>

                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
        <!-- END MENU -->
        <!---dialogue for login-->
        <div class="modal fade" id="appointmentModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Details of Today's Due Appointments</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Appointment Time</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mrs. Khalid</td>
                                    <td>08:00</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Mansoor Ali</td>
                                    <td>13:15</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




    </header>
    <!--=========== END HEADER SECTION ================-->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <!--=========== Start Footer SECTION ================-->
    <footer id="footer">

        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-copyright">
                            <p><a href="index.html">Community Health Service</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--=========== End Footer SECTION ================-->
    <!-- jQuery Library  -->
    <script src="~/Scripts/js/jquery.js"></script>
    <!-- Bootstrap default js -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="~/Scripts/js/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/modernizr.custom.79639.js"></script>
    <!-- counter -->
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>
    <!-- Doctors hover effect -->
    <script src="~/Scripts/js/snap.svg-min.js"></script>
    <script src="~/Scripts/js/hovers.js"></script>
    <!-- Photo Swipe Gallery Slider -->
    <script src='~/Scripts/js/photoswipe.min.js'></script>
    <script src='~/Scripts/js/photoswipe-ui-default.min.js'></script>
    <script src="~/Scripts/js/photoswipe-gallery.js"></script>
    
   
    
    
    
    <script src="~/Scripts/js/bootstrap-datepicker.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/custom.js"></script>
</body>
</html>
