﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=========== END HEADER SECTION ================-->
<section id="blogArchive">
    <div class="row">
        <div class="section-heading">
            <h2>Feedback</h2>
            <div class="line"></div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-15 col-sm-6">
                <div class="contact-form">
                   
                    <p>Fill out all required Field to send a Message. Please don't spam,Thank you!</p>
                  



                        <form id="commentform">

                            <p class="comment-form-author">
                                <label for="author">Name <span class="required">*</span></label> <br />
                                <input type="text" required="required" size="30" value="" name="author" placeholder="Enter your name">
                            </p>
                            <p class="comment-form-author">
                                <label for="author">Email Id <span class="required">*</span></label> <br />
                                <input type="text" required="required" size="40" value="" name="author" placeholder="Enter your email id">
                            </p>
                            <p class="comment-form-author">
                                <label for="author">Subject <span class="required">*</span></label>

                                <br />
                                <input type="text" required="required" size="40" value="" name="author" placeholder="Enter subject">
                            </p>
                            <p class="comment-form-comment">
                                <label for="comment">Suggesstion  <span class="required">*</span></label> <br />
                                <textarea required="required" aria-required="true" rows="5" cols="65" name=" comment" placeholder="What would you like to tell us?..."></textarea>
                            </p>
                        </form>
                      
                                <button class="wpcf7-submit button--itzel" type="submit"><i class="button__icon fa fa-envelope"></i><span>Send Message</span></button>
                            
                       
                    
                </div>
            </div>
           
        </div>
    </div>
</section>
