﻿@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="blogArchive">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">


                                                <div class="section-heading">
                                                    <h2> Departments</h2>
                                                    <div class="line"></div>
                                                </div>
                                                <!-- Start Departments Accordion -->
                                                <div class="panel-group custom-panel" id="accordion">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                           <ul>
                                                                
                                                                <li class="active"><a href="~/Home/DeptDoc">Cardiac Clinic</a></li>
                                                               </ul>
</div>
                                                      
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Dental Implants</a></li>
                                                            </ul></div>
                                                       
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Eye Clinic</a></li>
                                                            </ul></div>
                                                       
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Orthopadeic Clinic</a></li>
                                                            </ul></div>
                                                                   </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <ul>

                                                                <li class="active"><a href="~/Home/DeptDoc">Gynae Clinic</a></li>
                                                            </ul></div>
                                                        
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="single-blog-right">
                                                <div class="section-heading">
                                                    <h2>Doctors</h2>
                                                    <div class="line"></div>
                                                </div>
                                                <div class="doctors-area">
                                                    <ul class="doctors-nav">
                                                        <li>
                                                            <div class="single-doctor">
                                                                <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                    <figure>
                                                                        <img src="images/doctor-1.jpg" />
                                                                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                        <figcaption>
                                                                            <h2>Dr. Yvonne Cadiline</h2>
                                                                            <p>Pediatric Clinic</p>
                                                                            <button>View</button>
                                                                        </figcaption>
                                                                    </figure>
                                                                </a>
                                                                <div class="single-doctor-social">
                                                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="single-doctor">
                                                                <div class="single-doctor">
                                                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                        <figure>
                                                                            <img src="images/doctor-2.jpg" />
                                                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                            <figcaption>
                                                                                <h2>DR. Jack Johnson</h2>
                                                                                <p>Rehabilitation Therapy</p>
                                                                                <button>View</button>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </a>
                                                                    <div class="single-doctor-social">
                                                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="single-doctor">
                                                                <div class="single-doctor">
                                                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                        <figure>
                                                                            <img src="images/doctor-3.jpg" />
                                                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                            <figcaption>
                                                                                <h2>Dr. Vanessa Smouic</h2>
                                                                                <p>Cardiac Clinic</p>
                                                                                <button>View</button>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </a>
                                                                    <div class="single-doctor-social">
                                                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="single-doctor">
                                                                <div class="single-doctor">
                                                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                        <figure>
                                                                            <img src="images/doctor-5.jpg" />
                                                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                            <figcaption>
                                                                                <h2>Dr. David Gresshoff</h2>
                                                                                <p>Laryngological Clinic</p>
                                                                                <button>View</button>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </a>
                                                                    <div class="single-doctor-social">
                                                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="single-doctor">
                                                                <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                    <figure>
                                                                        <img src="images/doctor-1.jpg" />
                                                                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                        <figcaption>
                                                                            <h2>Dr. Yvonne Cadiline</h2>
                                                                            <p>Pediatric Clinic</p>
                                                                            <button>View</button>
                                                                        </figcaption>
                                                                    </figure>
                                                                </a>
                                                                <div class="single-doctor-social">
                                                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="single-doctor">
                                                                <div class="single-doctor">
                                                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                        <figure>
                                                                            <img src="images/doctor-2.jpg" />
                                                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                            <figcaption>
                                                                                <h2>DR. Jack Johnson</h2>
                                                                                <p>Rehabilitation Therapy</p>
                                                                                <button>View</button>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </a>
                                                                    <div class="single-doctor-social">
                                                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="single-doctor">
                                                                <div class="single-doctor">
                                                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                        <figure>
                                                                            <img src="images/doctor-3.jpg" />
                                                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                            <figcaption>
                                                                                <h2>Dr. Vanessa Smouic</h2>
                                                                                <p>Cardiac Clinic</p>
                                                                                <button>View</button>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </a>
                                                                    <div class="single-doctor-social">
                                                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="single-doctor">
                                                                <div class="single-doctor">
                                                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                                                        <figure>
                                                                            <img src="images/doctor-5.jpg" />
                                                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                                            <figcaption>
                                                                                <h2>Dr. David Gresshoff</h2>
                                                                                <p>Laryngological Clinic</p>
                                                                                <button>View</button>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </a>
                                                                    <div class="single-doctor-social">
                                                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





























