﻿@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="blogArchive">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                

                                                    <div class="section-heading">
                                                        <h2> Departments</h2>
                                                        <div class="line"></div>
                                                    </div>
                                                    <!-- Start Departments Accordion -->
                                                    <div class="panel-group custom-panel" id="accordion">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                                        Cardiac Clinic <span class="fa fa-plus"></span>
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseOne" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <p>
                                                                        <img class="img-center" src="~/images/choose-us-img3.jpg" alt="img">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                                        Dental Implants<span class="fa fa-plus"></span>
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <img class="img-center" src="~/images/choose-us-img3.jpg" alt="img">
                                                                    <p>

                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                        Eye Clinic  <span class="fa fa-plus"></span>
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseThree" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <p>
                                                                        <img class="img-center" src="~/images/choose-us-img3.jpg" alt="img">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                                        Orthopadic Clinic<span class="fa fa-plus"></span>
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseFour" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    
                                                                    <p>
                                                                        <img class="img-center" src="~/images/choose-us-img3.jpg" alt="img">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                                        Gynae Clinic <span class="fa fa-plus"></span>
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseFive" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <p>
                                                                        <img class="img-center" src="~/images/choose-us-img3.jpg" alt="img">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                            <div class="single-blog-right">
                                                <div class="section-heading">
                                                    <h2>Facilities</h2>
                                                    <div class="line"></div>
                                                </div>
                                                
                                                <div class="service-content">
                                                    <div class="row">
                                                        <!-- Start Single Service -->
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="single-service">
                                                                <div class="service-icon">
                                                                    <span class="fa fa-stethoscope service-icon-effect"></span>
                                                                </div>
                                                                <h3><a href="#">Cardio Monitoring</a></h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                        <!-- Start Single Service -->
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="single-service">
                                                                <div class="service-icon">
                                                                    <span class="fa fa-heartbeat service-icon-effect"></span>
                                                                </div>
                                                                <h3><a href="#">Pharmacies</a></h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                        <!-- Start Single Service -->
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="single-service">
                                                                <div class="service-icon">
                                                                    <span class="fa fa-h-square service-icon-effect"></span>
                                                                </div>
                                                                <h3><a href="#">Medical Health Care</a></h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                        <!-- Start Single Service -->
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="single-service">
                                                                <div class="service-icon">
                                                                    <span class="fa fa-medkit service-icon-effect"></span>
                                                                </div>
                                                                <h3><a href="#">Emergency</a></h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                        <!-- Start Single Service -->
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="single-service">
                                                                <div class="service-icon">
                                                                    <span class="fa fa-user-md service-icon-effect"></span>
                                                                </div>
                                                                <h3><a href="#">Special Doctor</a></h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                        <!-- Start Single Service -->
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="single-service">
                                                                <div class="service-icon">
                                                                    <span class="fa fa-ambulance service-icon-effect"></span>
                                                                </div>
                                                                <h3><a href="#">24 Hours Service</a></h3>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





























