﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--=========== BEGIN SLIDER SECTION ================-->
<section id="sliderArea">
    <!-- Start slider wrapper -->
    <div class="top-slider">
        <!-- Start First slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/images/14.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>Welcome To</h2>
                <h2><strong> Community Health Service</strong></h2>
                <p>We Are Here To Serve You Best For Your Health</p>

            </div>
        </div>
        <!-- End First slide -->
        <!-- Start 2nd slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/images/15.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>Welcome To</h2>
                <h2><strong> Community Health Service</strong></h2>
                <p>We Are Here To Serve You Best For Your Health</p>
            </div>
        </div>
        <!-- End 2nd slide -->
        <!-- Start Third slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/images/7.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>Welcome To</h2>
                <h2><strong> Community Health Service</strong></h2>
                <p>We Are Here To Serve You Best For Your Health</p>
            </div>
        </div>
        <!-- End Third slide -->
        <!-- Start Fifth slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/images/9.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>Welcome To</h2>
                <h2><strong> Community Health Service</strong></h2>
                <p>We Are Here To Serve You Best For Your Health</p>
            </div>
        </div>
        <!-- End Fifth slide -->
    </div><!-- /top-slider -->
</section>
<!--=========== END SLIDER SECTION ================-->

  <!--=========== BEGIN Top Feature SECTION ================-->
<section id="topFeature">
    <div class="row">
        <!-- Start Single Top Feature -->
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="single-top-feature">
                    <span class="fa fa-flask"></span>
              
                    
                    <div class="readmore_area">
                        <a href="#" data-hover="Read More"><span>Assistance</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Top Feature -->
        <!-- Start Single Top Feature -->
        <div class="col-lg-4 col-md-3 ">
            <div class="row">
                <div class="single-top-feature opening-hours">
                    <span class="fa fa-clock-o"></span>
                    <h4>Opening Hours</h4>
                 
                    <ul class="opening-table">
                        <li>
                            <span>Monday-Thursday    </span>
                            <div class="value">9.30 - 15.30</div>
                        </li>


                        <li>
                            <span>Friday-Sunday </span>
                            <div class="value">9.30 - 15.30</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Single Top Feature -->
        <!-- Start Single Top Feature -->
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="single-top-feature">
                    <span class="fa fa-hospital-o"></span>
                    
                    <div class="readmore_area">
                        <a data-toggle="modal" data-target="#myModal" href="#" data-hover="Appoinment"><span>Appoinment</span></a>
                    </div>
                    <!-- start modal window -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Appoinment Details</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="appointment-area">
                                        <form class="appointment-form">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="control-label">
                                                        Your name <span class="required">*</span>
                                                    </label>
                                                    <input type="text" class="wp-form-control wpcf7-text" placeholder="Your name">
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="control-label">
                                                        Your Phone# <span class="required">*</span>
                                                    </label>
                                                    <input type="number" class="wp-form-control wpcf7-email" placeholder="Phone Number">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="control-label">
                                                        Email <span class="required">*</span>
                                                    </label>
                                                    <input type="email" class="wp-form-control wpcf7-text" placeholder="Email Address">
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="control-label">
                                                        Appointment Date <span class="required">*</span>
                                                    </label>
                                                    <input type="text" class="wp-form-control wpcf7-text" placeholder="dd/mm/yy">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="control-label">
                                                        Doctor Name 
                                                    </label>
                                                    <input type="text" class="wp-form-control wpcf7-email" >
                                                    
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="control-label">
                                                        Select Department <span class="required">*</span>
                                                    </label>
                                                    <select class="wp-form-control wpcf7-select">
                                                        <option val="1">Dental</option>
                                                        <option val="2">cardiology</option>
                                                        <option val="3">neurology</option>
                                                        <option val="4">Drugstore</option>
                                                        <option val="5">x-ray</option>
                                                        <option val="6">birth</option>
                                                        <option val="7">general</option>
                                                        <option val="8">testing</option>
                                                        <option val="9">first-aid</option>
                                                        <option val="10">immunizations</option>
                                                        <option val="11">pulmonary</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <input type="text" class="wp-form-control wpcf7-text" placeholder="Subject">
                                            <textarea class="wp-form-control wpcf7-textarea" cols="30" rows="10" placeholder="What would you like to tell us"></textarea>
                                            <button class="wpcf7-submit button--itzel" type="submit"><i class="button__icon fa fa-share"></i><span>Book Appointment</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
        <!-- End Single Top Feature -->
    </div>
</section>
<!--=========== END Top Feature SECTION ================-->
