﻿@{
    ViewBag.Title = "Add Patient";
    Layout = "~/Views/Shared/Doctor_shared.cshtml";
}
}


   
    <!--=========== START BLOG SECTION ================-->
    <section id="blogArchive">
     
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <!-- Start Blog Archive Area -->
                            <div class="blogArchive-area">
                                <div class="row">
                                    <!-- Start Blog Content -->
                                    <div class="col-md-12 col-sm-12">
                                        <div class="blog-content">
                                            <!-- Start Single Blog -->
                                            <div class="single-Blog">
                                                <div class="single-blog-left">
                                                    <ul class="blog-comments-box">

                                                        <li class="active"><a href="~/Doctor/Calendar">December <h2>15</h2>2015</a></li>
                                                        <li><span class="fa fa-eye"></span>Doctor ID : 01</li>
                                                        <li><span class="fa fa-eye"></span>Appointment number:01</li>
                                                        <li><a href="#"><span class="fa fa-comments"></span>Patient's History</a></li>
                                                    </ul>
                                                </div>
                                                <div class="single-blog-right">
                                                    <div class="section-heading">
                                                        <h2> Add Patient's Detail</h2>
                                                        <div class="line"></div>
                                                    </div> 
                                                   
     
                                                    <!-- Comments Responds -->
                                                    <div id="respond">
                                                       
                                                        <form id="commentform">
                                                           
                                                            <p class="comment-form-author">
                                                                <label for="author">Name <span class="required">*</span></label>
                                                                <input type="text" required="required" size="10" value="" name="author" placeholder="Enter Name of the Patient">
                                                            </p>


                                                            <p class="comment-form-comment">
                                                                <label for="comment">Add Symptons<span class="required">*</span></label>
                                                                <textarea required="required" aria-required="true" rows="1" cols="5" name="comment" placeholder="Write down all related symptons here..."></textarea>
                                                            </p>


                                                            <p class="comment-form-comment">
                                                                <label for="comment">Suggest Disease<span class="required">*</span></label>
                                                                <textarea required="required" aria-required="true" rows="1" cols="2" name="comment" placeholder="Write down the most probable disease for the patient."></textarea>
                                                            </p>


                                                            <p class="comment-form-comment">
                                                                <label for="comment">Recommend Tests<span class="required">*</span></label>
                                                                <textarea required="required" aria-required="true" rows="1" cols="2" name="comment" placeholder="Write down all necessary tests to be conducted."></textarea>
                                                            </p>


                                                            <p class="comment-form-comment">
                                                                <label for="comment">Prescribe Medicines<span class="required">*</span></label>
                                                                <textarea required="required" aria-required="true" rows="1" cols="2" name="comment" placeholder="Write down all necessary medicines for the patient."></textarea>
                                                            </p>

                                                          
                                                          
                                                            <p class="form-submit">
                                                                <input type="submit" value="Save and Send" class="submit" name="submit">
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--=========== END BLOG SECTION ================-->
   