﻿@{
    ViewBag.Title = "Appointment Requests";
    Layout = "~/Views/Shared/Doctor_shared.cshtml";
}

 <!--=========== START BLOG SECTION ================-->
<section id="blogArchive">
   
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                <ul class="blog-comments-box">
                                                    <li>December <h2>15</h2>2015</li>
                                                    <li><span class="fa fa-eye"></span>Doctor ID : 01</li>
                                                    
                                                </ul>
                                            </div>
                                            <div class="single-blog-right">
                                               

                                                <div class="section-heading">
                                                    <h2> Appointment Requests</h2>
                                                    <div class="line"></div>
                                                </div> 
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>Name</th>
                                                            <th>Appointment Request Time</th>
                                                            <th>Last Visit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td><a href="#">Mrs. Khalid</a></td>
                                                            <td>08:00 12th December,2015</td>
                                                            
                                                            <td><a href="#">1st December, 2015</a>  <button type="button" class="btn btn-primary">Confirm</button> <button type="button" class="btn">Delay</button>  </td> 
                                                           
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td><a href="#">Mansoor Ali</a></td>
                                                            <td>08:02 12th December, 2015</td>
                                                            <td><a href="#">9th December, 2015</a> <button type="button" class="btn btn-primary">Confirm</button> <button type="button" class="btn">Delay</button>  </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td><a href="#">Rayyan Syed</a></td>
                                                            <td>08:15 12th December, 2015</td>
                                                            <td><a href="#">2nd December, 2015</a>  <button type="button" class="btn btn-primary">Confirm</button> <button type="button" class="btn">Delay</button>  </td>
                                                        </tr>
                                                    </tbody>
                                                </table>





                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

