﻿@{
    ViewBag.Title = "Calendar";
    
}
<h2>Calendar</h2>
<div>


    <iframe src="https://www.google.com/calendar/embed?src=pucit.edu.pk_r7g2p6tah8l4bs2lp5o9v4s6q8%40group.calendar.google.com&ctz=Asia/Karachi" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>