﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Doctor_shared.cshtml";
}


<!--=========== BEGIN SLIDER SECTION ================-->
<section id="sliderArea">
    <!-- Start slider wrapper -->
    <div class="top-slider">
        <!-- Start First slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/images/14.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2><strong>Dr. Sheharyaar Khan</strong></h2>
                <h2>Welcome To</h2>
                <h2><strong> Community Health Service</strong></h2>
                <p><i>Have a safe and healthy day ahead!</i></p>

            </div>
        </div>
        <!-- End First slide -->
        
      
    </div><!-- /top-slider -->
</section>
<!--=========== END SLIDER SECTION ================-->

  <!--=========== BEGIN Top Feature SECTION ================-->
<section id="topFeature">
    <div class="row">
        <!-- Start Single Top Feature -->
        <div class="col-lg-4 col-md-0">
            <div class="row">
                <div class="single-top-feature">
                    <span class="fa fa-hospital-o"></span>
                    <div class="readmore_area">
                        <a href="~/Doctor/AddPatient" data-hover="ADD"><span>ADD PATIENT DETAILS</span></a>
</div>


                </div>
            </div>
        </div>
        <!-- End Single Top Feature -->
        <!-- Start Single Top Feature -->
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="single-top-feature opening-hours">
                    <span class="fa fa-clock-o"></span>
                    <h3> Timings</h3>
                    
                    <ul class="opening-table">
                        <li>
                            <span>Monday-Thursday    </span>
                            <div class="value">9.30 - 15.30</div>
                        </li>
                       
                        
                        <li>
                            <span>Friday-Sunday </span>
                            <div class="value">9.30 - 15.30</div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Single Top Feature -->
        <!-- Start Single Top Feature -->
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="single-top-feature">
                    <span class="fa fa-hospital-o"></span>
                    <div class="readmore_area">
                        <a href="~/Doctor/AppointmentRequests" data-hover="SEE ALL REQUESTS"><span> APPOINTMENT REQUESTS</span>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- End Single Top Feature -->
    </div>
</section>
<!--=========== END Top Feature SECTION ================-->

<!-- Start Post Author -->
<div class="post-author">
    <h3>About Doctor</h3>
    <div class="media">
        <div class="media-left">
            <a class="news-img" href="#">
                <img class="media-object" src="~/images/patients-2.jpg" alt="img">
            </a>
        </div>
        <div class="media-body">
            <a class="author-name" href="#">Dr. Sheharyaar Khan</a>
            <p>Dr. Sheharyaar is one of the most hardworking and enthusiast doctor we have in the vicinity. His empathy towards sick and poor has instilled in him a passion to become one of the best young dentists in the town.</p>

        </div>
    </div>
</div>
