﻿@{
    ViewBag.Title = "Update Schedule";
    Layout = "~/Views/Shared/Doctor_shared.cshtml";
}

<!--=========== START BLOG SECTION ================-->
<section id="blogArchive">
   
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                <ul class="blog-comments-box">

                                                    <li class="active"><a href="~/Doctor/Calendar">December <h2>15</h2>2015</a></li>
                                                    <li><span class="fa fa-eye"></span>Doctor ID : 01</li>
                                                    
                                                </ul>
                                            </div>
                                      
                                            <div class="single-blog-right">
                                                <div class="section-heading">
                                                    <h2> Doctor's Schedule</h2>
                                                    <div class="line"></div>
                                                </div>
                                                <!-- Comments Responds -->
                                                <div id="respond">
                                                    
                                                    <form id="commentform">

                                                        <p class="comment-form-author">
                                                          
                                                            <h4> <strong> Monday</strong><span class="required">*</span></h4>
                                                                Availability:  
                                                                Yes <input checked="checked"
                                                                           id="Availability"
                                                                           name="Availability"
                                                                           type="radio"
                                                                           value="Yes" />

                                                                No <input id="Availability"
                                                                          name="Availability"
                                                                          type="radio"
                                                                          value="No" />
                                                          
                                                        </p>
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th>Starting Time</th>
                                                                <th>12</th>
                                                                <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                            </tr>
                                                            <tr>
                                                                <th>Ending Time</th>
                                                                <th>12</th>
                                                                <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                            </tr>
                                                            </table>

                                                            <p class="comment-form-author">
                                                                <label>
                                                                <h4> <strong> Tuesday</strong><span class="required">*</span></h4>
                                                                    Availability:
                                                                    Yes <input checked="checked"
                                                                               id="Availability"
                                                                               name="Availability"
                                                                               type="radio"
                                                                               value="Yes" />

                                                                    No <input id="Availability"
                                                                              name="Availability"
                                                                              type="radio"
                                                                              value="No" />
                                                                </label>
                                                                <table class="table table-hover">
                                                                    <tr>
                                                                        <th>Starting Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Ending Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                </table>
                                                            </p>
                                                            <p class="comment-form-author">
                                                                <h4> <strong> Wednesday</strong><span class="required">*</span></h4>
                                                                    Availability:
                                                                    Yes <input checked="checked"
                                                                               id="Availability"
                                                                               name="Availability"
                                                                               type="radio"
                                                                               value="Yes" />

                                                                    No <input id="Availability"
                                                                              name="Availability"
                                                                              type="radio"
                                                                              value="No" />
                                                                </label>
                                                                <table class="table table-hover">
                                                                    <tr>
                                                                        <th>Starting Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Ending Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                </table>
                                                            </p>
                                                            <p class="comment-form-author">
                                                                <h4> <strong> Thursday</strong><span class="required">*</span></h4>
                                                                    Availability:
                                                                    Yes <input checked="checked"
                                                                               id="Availability"
                                                                               name="Availability"
                                                                               type="radio"
                                                                               value="Yes" />

                                                                    No <input id="Availability"
                                                                              name="Availability"
                                                                              type="radio"
                                                                              value="No" />
                                                                </label>
                                                                <table class="table table-hover">
                                                                    <tr>
                                                                        <th>Starting Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Ending Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                </table>
                                                            </p>
                                                            <p class="comment-form-author">
                                                                <h4> <strong> Friday</strong><span class="required">*</span></h4>
                                                                    Availability:
                                                                    Yes <input checked="checked"
                                                                               id="Availability"
                                                                               name="Availability"
                                                                               type="radio"
                                                                               value="Yes" />

                                                                    No <input id="Availability"
                                                                              name="Availability"
                                                                              type="radio"
                                                                              value="No" />
                                                                </label>
                                                                <table class="table table-hover">
                                                                    <tr>
                                                                        <th>Starting Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Ending Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                </table>
                                                            </p>

                                                            <p class="comment-form-author">
                                                                <h4> <strong> Saturday</strong><span class="required">*</span></h4>
                                                                    Availability:
                                                                    Yes <input checked="checked"
                                                                               id="Availability"
                                                                               name="Availability"
                                                                               type="radio"
                                                                               value="Yes" />

                                                                    No <input id="Availability"
                                                                              name="Availability"
                                                                              type="radio"
                                                                              value="No" />
                                                                </label>
                                                                <table class="table table-hover">
                                                                    <tr>
                                                                        <th>Starting Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Ending Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                </table>
                                                            </p>

                                                            <p class="comment-form-author">
                                                                <h4> <strong> Sunday</strong><span class="required">*</span></h4>
                                                                    Availability:
                                                                    Yes <input checked="checked"
                                                                               id="Availability"
                                                                               name="Availability"
                                                                               type="radio"
                                                                               value="Yes" />

                                                                    No <input id="Availability"
                                                                              name="Availability"
                                                                              type="radio"
                                                                              value="No" />
                                                                </label>
                                                                <table class="table table-hover">
                                                                    <tr>
                                                                        <th>Starting Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Ending Time</th>
                                                                        <th>12</th>
                                                                        <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
                                                                    </tr>
                                                                </table>
                                                            </p>

                                                            <p class="form-submit">
                                                                <input type="submit" value="Save" class="submit" name="submit">
                                                            </p>
</form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--=========== END BLOG SECTION ================-->