﻿@{
    ViewBag.Title = "View All Patients";
    Layout = "~/Views/Shared/Doctor_shared.cshtml";
}

    <!--=========== START BLOG SECTION ================-->
<section id="blogArchive">
    
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                <ul class="blog-comments-box">
                                                   
                                                    <li class="active"><a href="~/Doctor/Calendar">December <h2>15</h2>2015</a></li>
                                                   
                                                    <li><span class="fa fa-eye"></span>Doctor ID : 01</li>
                                                  </ul>  
                                            </div>
                                            <div class="single-blog-right">
                                                <div class="section-heading">
                                                    <h2> Patient Records</h2>
                                                    <div class="line"></div>
                                                </div>
                                               
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>Name</th>
                                                            <th>Suggested Disease</th>
                                                            <th>Last Visit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients with name Mrs. Khalid">Mrs. Khalid</a></td>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients having Diabates">Diabates</a></td>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients of this date">10th December, 2015</a></td>
                                                         
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients with name Mansoor Ali">Mansoor Ali</a></td>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients having diabates">Diabates</a></td>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients of this date">16th December, 2015</a></td>

                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients with name Rayyan Syed">Rayyan Syed</a></td>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients having Diabates">Diabates</a></td>
                                                            <td><a href="#" data-toggle="tooltip" title="View all patients of this date">18th December, 2015</a></td>

                                                        </tr>
                                                    </tbody>
                                                </table>





                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
