﻿@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/Doctor_shared.cshtml";
}

<!--=========== START BLOG SECTION ================-->
<section id="blogArchive">
    
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                <ul class="blog-comments-box">
                                                    <li><div class="blog-img">
                                                        <figure class="blog-figure">

                                                            <a href="#"><img alt="img" src="~/images/patients-2.jpg"></a>
                                                            <span class="image-effect"></span>
                                                        </figure>
                                                    </div>
                                                    <div class="blog-author">
                                                        <ul>
                                                            <li><a href="#">Dr. Sheharyaar Khan</a></li>
                                                        </ul>

                                                    </div></li>
                                                    <li class="active"><a href="~/Doctor/Calendar">December <h2>15</h2>2015</a></li>
                                                    <li><span class="fa fa-eye"></span>Doctor ID : 01</li>
                                                    

                                                </ul>
                                              
                                            </div>
                                            <div class="single-blog-right">
                                                <div class="row">
                                                    <div class="col-lg-20 col-md-20">
                                                        <!-- Comments Responds -->
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="section-heading">
                                                                <h2> Doctor's Profile</h2>
                                                                <div class="line"></div>
                                                            </div> 
                                                            <div id="respond">

                                                             
                                                                <form id="commentform">

                                                                    <table class="table table-hover">
    
        <tr>
            <th>Last Name</th>
            <th>Khan</th>
            <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
        </tr>
        <tr>
            <th>Date Of Birth</th>
            <th>12/08/1994</th>
            <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
        </tr>
        <tr>
            <th>CNIC#</th>
            <th>3410-1212345-6</th>
            <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>
        </tr>
        <tr>
            <th>Department</th>
            <th>Dentistry</th>
            <th><a href="#"><i class="fa fa-pencil-square-o"></i>Edit</a></th>

        </tr>
    </tbody>


</table>

                                                                    <p class="form-submit">
                                                                        <input type="submit" value="Save" class="submit" name="submit">
                                                                    </p>
                                                                </form>

                                                            </div>
                                                           
                                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--=========== END BLOG SECTION ================-->
