﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminShared.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome MR. Adnan To Comunity Health Service</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6" style="width:80%;">
            <img src="~/images/14.jpg" style="width:125%; height:180% " alt="">
        </div>

    </div>
    <!-- /#page-wrapper -->
</div>